<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
        backupGlobals="true"
        colors="true"
        convertErrorsToExceptions="false"
        convertWarningsToExceptions="false"
        bootstrap="Bootstrap.php"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>./Unit</directory>
        </testsuite>
        <!--<testsuite name="Functional tests">-->
        <!--<directory>./Functional</directory>-->
        <!--</testsuite>-->
        <!--<testsuite name="Integration tests">-->
        <!--<directory>./Integration</directory>-->
        <!--</testsuite>-->
    </testsuites>
</phpunit>